[{:name "export_3mf", :type "coString", :doc "Export project as 3MF."}
 {:name "export_slicedata",
  :type "coString",
  :doc "Export slicing data to a folder."}
 {:name "load_slicedata",
  :type "coStrings",
  :doc "Load cached slicing data from directory"}
 {:name "export_stl",
  :type "coBool",
  :doc "Export the objects as single STL."}
 {:name "export_stls",
  :type "coString",
  :doc "Export the objects as multiple stls to directory"}
 {:name "slice",
  :type "coInt",
  :doc "Slice the plates: 0-all plates, i-plate i, others-invalid",
  :cli "slice"}
 {:name "export_png",
  :type "coInt",
  :doc "Export png of plate: 0-all plates, i-plate i, others-invalid",
  :cli "export-png"}
 {:name "help",
  :type "coBool",
  :doc "Show command help.",
  :cli "help|h"}
 {:name "uptodate",
  :type "coBool",
  :doc "Update the configs values of 3mf to latest.",
  :cli "uptodate"}
 {:name "load_defaultfila",
  :type "coBool",
  :doc "Load first filament as default for those not loaded"}
 {:name "min_save",
  :type "coBool",
  :doc "export 3mf with minimum size."}
 {:name "mtcpp",
  :type "coInt",
  :doc "max triangle count per plate for slicing.",
  :cli "mtcpp"}
 {:name "mstpp",
  :type "coInt",
  :doc "max slicing time per plate in seconds.",
  :cli "mstpp"}
 {:name "no_check",
  :type "coBool",
  :doc
  "Do not run any validity checks, such as gcode path conflicts check."}
 {:name "normative_check",
  :type "coBool",
  :doc "Check the normative items."}
 {:name "info", :type "coBool", :doc "Output the model's information."}
 {:name "export_settings",
  :type "coString",
  :doc "Export settings to a file."}
 {:name "pipe", :type "coString", :doc "Send progress to pipe."}]
